body{
    background-color:#d1d4d6;
}
footer {
    position: relative;
    bottom:0;
    text-align: right;
    width:100%;
    /*background: #5cb85c;*/
}

.container{
    margin-top: -50px;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}